
html{margin: 0}
body{/* estilização generica do corpo do HTML */
    font-family: sans-serif;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: #110462;
    height: 100%;
}
input{ /* estilização das dimenções e bordas dos input's*/
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 80%;
}
button{/* estilização unica, botão "Entrar*/
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 70px;
    background-color: white;
    transition: 0.5s;
}
button:hover{ /*subclasse para Efeito de transição ao passar mouse */
    background: orangered;
    width: 75px;
}
#logo_megalink{ /*alinhamento logo */
    position: absolute;
    top: -1%;
    margin-top: -55px;
    left: 50%;
    margin-left: -75px;
    transform: translate(0, -50%);
}
#login{ /*alinhamento DIV LOGIN */
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container{ /* alinhamento absoluto com estilização do container principal*/
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -140px;
    left: 50%;
    margin-left: -222px;
    border-radius: 18px;
    width: 450px;
    height: 280px;
    background-color: antiquewhite;  
}
footer{/* alinhamento e posicionamento do rodapé */
    display: flex;
    justify-content: space-around;
    position: fixed;
    text-align: left;
    font-size: 10pt;
    color: aliceblue;
    background: #0C043E;
    bottom: 0px;
    width: 100%;
    line-height: 3;
}


