<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="stylesheet" href="../public/css/style_login.css">
    <script src="JS/login.js" defer></script>
</head>

<body>
    <div class="container"><!-- Container que agrupa o conteudo pricipal da página-->
        <div id="logo_megalink">
            <img src="../public/img/Logo/logo_megalink.png" width="150" heigth="200"><br> <br>
        </div>
        <div id="login"> 
            <p> <input id="email" type="email" style="margin-top: 10%;" placeholder="E-mail"/> </p> 
            <p> <input id="senha" type="password" placeholder="Senha"/> </p>
            <a href="Inicial.html"> 
                <button onclick="clicar(email)"> Entrar </button> 
            </a>
            <p style="font-size: 8pt;"> <u>Esqueci a senha </u> </p> <br>
        </div>    
    </div>
    <footer><!-- Rodapé-->
        Fale conosco: (89)9 9466-8280
    </footer>
        
</body>
</html>